.information-title{
  margin: auto;
  width: 50%;
}


.red.about-wrapper{
  margin-bottom: 40px;
}


span > p{
  color: floralwhite;
}

.teacher-name, .teacher-language{
  color: black;
  padding: 10px;
}
